:root {
	/* IMPORTANT NOTE: because I want to do a bunch of fucky things with JS and SVGs, the colors here all need to be hex or rgb or hsl, NOT color-mix or named colors ("plum" etc) or anything with calc. */
	/* Color palette minimal definition */
	--bg-color: #3a2005;
	--highlights: #f20898;
	--light-up: #e5ff00;
	--framing: #9dff00;
	--deep-framing: #00a341;
	--is-light-mode: 0;
	
	/* Fallback colors. Should be changed by palettize.js */
	--hc-bg: #000;
	--hc-fg: #fff;
	--secondary-bg-color: #4c5f00;
  --main-color: #fdf;
	--subtle-hc-fg: #cca;
	--subtler: #dbd;
	--subtle-tinted: #fbf;
	--subtle-framing: #80cf00c2;
	--is-dark-mode: 1;

}