@import url(colors.css);

body {
	background-color: var(--bg-color);
	font: 14px/1.5 "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: var(--main-color);
	font-weight: 400;
	margin: 0;
	overflow-x: hidden;
	font-size: 120%;
}

.main-content {
	margin: 2em;
	overflow-x: auto;
}
@media only screen and (orientation: portrait){
	.main-content {
		margin: 1em;
	}
}

.overlay.main-content {
	position: absolute;
	top: 0;
	z-index: 1;
	padding: 1em;
	background-color: var(--bg-color);
	overflow-y: auto;
}
@media only screen and (orientation: portrait){
	.overlay.main-content {
		max-height: 60vh;
	}
}
@media only screen and (orientation: landscape){
	.overlay.main-content {
		right: 0;
		bottom: 0;
		max-width: 50vw;
	}
}

a {
	color: var(--subtle-tinted);
}
a:visited {
	color: var(--subtler);
}
a:hover{
	color: var(--subtle-light);
}
a:active{
	color: var(--subtle-glow);
}

p {
	margin-top: 0.3em;
	margin-bottom: 0.3em;
}

h1 {
	color: var(--title);
	margin-left: 0.5em;
	margin-right: 0.5em;
	text-shadow: 0.07em 0.07em 0.05em var(--highlights);
}
h2 {
	text-decoration: underline var(--subtle-framing) 0.05em;
}

iframe {
	border: none;
	width: 100%;
}


.centered {
	text-align: center;
}
.deco-text {
	color: var(--framing);
	font-size: xx-large;
}
.hr {
	background-color: var(--framing);
	height: 3px;
	margin: auto;
	width: 100%;
	margin-top: 1em;
	margin-bottom: 1em;
}
txt-pop {
	color: var(--highlights);
}

.mini-img {
	height: 5em;
}
.language-select {
	position: relative;
	right: 0;
	top: 0;
	display: grid;
	height: min-content;
}
.theme-select {
	position: relative;
	right: 0;
	top: 0;
	display: grid;
	height: min-content;
	/* FIXME: if the title is short enough, it'll float in the middle between the end of the title and the language select */
}
/* .language-btn {
	TODO
} */
.basic-btn {
	color: var(--main-color);
	user-select: none;
	background-color: var(--secondary-bg-color);
	min-width: 3em;
	text-align: center;
	padding: 4px;
	margin: 3px;
	border: none;
	text-decoration: none;
}
.basic-btn:hover {
	color: var(--subtler);
	cursor: pointer;
}
.basic-btn:active {
	background-color: var(--secondary-bg-lowered);
	color: var(--subtle-lowered);
}

.big-btn {
	/* TODO: make the button pop. probably use the main color (pink) for its bg */
	color: var(--main-color);
	user-select: none;
	background-color: var(--secondary-bg-color);
	min-width: 3em;
	text-align: center;
	padding: 4px;
	margin: 3px;
	border-color: var(--deep-framing);
	border-style: solid;
	border-radius: 2px;
	text-decoration: none;
}
.big-btn:hover {
	color: var(--subtler);
	cursor: pointer;
}
.big-btn:active {
	background-color: var(--secondary-bg-lowered);
	color: var(--subtle-lowered);
}

#main-header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	border-top: 3px solid var(--framing);
	border-bottom: 3px solid var(--framing);
	margin: 0.7em 0em;
}

.home-btn {
	position: absolute;
	left: 0;
	top: 0;
	z-index: 10;
}

.hover-info-btn {
	position: relative;
	left: 1em;
	top: 1em;
	background-color: var(--bg-color);
	padding: 0.3em;
}
:not(:hover)>.hover-info-btn:not(:focus) {
	/* TODO: this is pretty messy, but seems to do exactly what I want */
	/* TODO: :not(:hover, :focus)>.hover-info-btn:not(:focus) doesn't work. I kinda also want it to show the info btn whenever the parent is focused */
	z-index: -999;
}

.gallery-container, .gallery-container2 {
	margin-top: 0.8em;
	margin-bottom: 0.8em;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 2em;
}
.gallery-container2 {
	grid-template-columns: 1fr 1fr;
}
@media only screen and (orientation: portrait){
	.gallery-container, .gallery-container2 {
		grid-template-columns: 1fr;
	}
}
.gallery-img {
	width: 100%;
}
.gallery-el {
	display: inline-block;
}

/* @font-face {
  font-family: 'linja pona';
  src: url("/fonts/linja-pona-4.9.otf");
  font-weight: 400;
}
.lp {
	font-family: 'linja pona';
	text-rendering: optimizeLegibility;
  font-size: 1.39em;
	font-style: normal;
} */

@font-face {
  font-family: 'linja lipamanka';
  src: url("/fonts/linjalipamanka-normal.woff") format("woff");
}
.ll {
	font-family: 'linja lipamanka';
	text-rendering: optimizeLegibility;
  font-size: 1.2em;
	font-style: normal;
}

.svg-container {
	overflow-x: auto;
}
svg {
	fill: var(--main-color)
}

.particle {
  position: fixed;
  left: 0;
  top: 0;
  pointer-events: none;
  opacity: 0;
	z-index: 100;
}

.landscape-row {
	display: grid;
	grid-template-columns: 6fr 4fr;
}

@media only screen and (orientation: portrait){
	non-portrait {
		display: none;
	}
	.landscape-row {
		grid-template-columns: 1fr;
	}
}

.invert-in-dark-mode {
	filter: invert(var(--is-dark-mode)) contrast(0.8);
}
.invert-in-light-mode {
	filter: invert(var(--is-light-mode));
}

ul.no-bullets {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

kbd {
	/* from https://developer.mozilla.org/en-US/docs/Web/HTML/Reference/Elements/kbd */
	font: unset;
  background-color: var(--secondary-bg-color
	);
  border-radius: 3px;
  border: 2px solid var(--subtle-framing);
  box-shadow:
    0 1px 1px rgba(0, 0, 0, 0.5),
    0 2px 0 0 var(--secondary-bg-lowered
	) inset;
  display: inline-block;
  line-height: 1;
  padding: 3px 5px;
  white-space: nowrap;
}
kbd:not(.font-unset) {
	font-family: monospace;
	font-size: 1.3em;
  font-weight: 600;
}

.hover-underline {
	text-decoration: dashed underline;
}

.my-image {
	display: block;
	max-width: 100%;
	margin: 0.8em;
	margin-left: auto;
	margin-right: auto;
}

.spoiler {
	background-color: var(--main-color);
	color: var(--main-color) !important;
}
.spoiler * { /* Prevents links from being a different color. They're still clickable and hoverable though so eh, doesn't really work. TODO i guess */
	color: var(--main-color) !important;
}

details {
	margin-left: 1em;
}